<div class="nav">
    <div class="nav-container">
        <dl>
            <dt>帮助中心</dt>
            <dt>账户管理</dt>
            <dt>购物指南</dt>
            <dt>订单操作</dt>
        </dl>
        <dl>
            <dt>帮助中心</dt>
            <dt>账户管理</dt>
            <dt>购物指南</dt>
            <dt>订单操作</dt>
        </dl>
        <dl>
            <dt>帮助中心</dt>
            <dt>账户管理</dt>
            <dt>购物指南</dt>
            <dt>订单操作</dt>
        </dl>
        <dl>
            <dt>帮助中心</dt>
            <dt>账户管理</dt>
            <dt>购物指南</dt>
            <dt>订单操作</dt>
        </dl>
       
    </div>
</div>