{% extends 'layout.html' %}

{% block link %}
<link rel="stylesheet" href="../public/css/signin.css">
{% endblock %}


{% block content %}
<div class="signup-content">
    <div class="signup-banner">
        <a href="">登录</a>
    </div>
    <div class="signup-form">
        <form action="/signin" method="post">
            <div class="signup-user">
                <span>用户名：</span>
                <input type="text" name="username">
            </div>
            <div class="signup-password">
                <span>密码：</span>
                <input type="password" name="password">
            </div>             
            <div class="commit">
                <button>登录</button>
                <a href="/signup">我注册</a>
            </div>
        </form>
    </div>
</div>
{% endblock%}